body{background-image: url("https://www.alloj.com/media/cache/petite_gallery_bloc_paysage/uploads/ecole-juive/groupe-eschel/slider/gallery/cropped/f5032272e77e3cc7e75508fe36bad2a10f9057bd.jpg");}
body{
  font-family: 'Coda', cursive;
  background: none repeat scroll 0 0 #E1E1E2;
}

*{
border-radius: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

   .search-field{border-radius: 30px;}
/* ===== Colours ===== */
:root{
border-radius: 30px;
    --body-color: white;
    --nav-color: white;
    --side-nav: white;
    --text-color: black;
    --search-bar: black;
    --search-text: red;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
border-radius: 30px;
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
border-radius: 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
border-radius: 30px;
    border: 1px solid #393838;

}

nav .nav-bar{
border-radius: 30px;
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
border-radius: 30px;
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
border-radius: 30px;
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
border-radius: 30px;
    display: none;
}

.nav-bar .nav-links{
border-radius: 30px;
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
border-radius: 30px;
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
border-radius: 30px;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
border-radius: 30px;
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
border-radius: 30px;
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
border-radius: 30px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
border-radius: 30px;
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
border-radius: 30px;
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{

border-radius: 30px;
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
border-radius: 30px;
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
border-radius: 30px;
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
border-radius: 30px;
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
border-radius: 30px;
    opacity: 0;
    pointer-events: none;
}

.searchBox{
border-radius: 30px;
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{

    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }

h1{
  color: #3A5486;
  font: 700 18pt Verdana,sans-serif;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}
#horloge{
  height: 400px;
  margin: 40px auto;
  position: relative;
  width: 400px;
  border: 10px solid #3A5486;
  border-radius: 50%;
  background: url("https://c.wallhere.com/photos/91/b4/Ford_Mustang_RTR_car_tuning_vehicle_muscle_car_purple_cars-1829401.jpg!d") no-repeat scroll center 25% #ffff;
  box-shadow: 0 0 40px #8080A0, 0 0 50px 10px #CCCCCC inset;
}
#horloge:before{
  border-radius: 50%;
  box-shadow: -2px -2px 5px #000000 inset, -2px 2px 5px #000000 inset, 2px -2px 5px #000000 inset, 2px 2px 5px #000000 inset;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#seconde{
  left: 198px;
  top: 25px;
  height: 180px;
  border: 2px solid rgba( 110,150,180,0.8);
  -webkit-animation: tour 60s steps(60, end) infinite;
  -webkit-transform-origin: 50% 175px;
  -o-animation: tour 60s steps(60, end) infinite;
  -o-transform-origin: 50% 175px;
  animation: tour 60s steps(60, end) infinite;
  transform-origin: 50% 175px;
}
#minute{
  left: 196px;
  top: 55px;
  height: 150px;
  border: 4px solid rgba( 80,150,200,0.8);
  -webkit-animation: tour 3600s steps(60, end) infinite;
  -webkit-transform-origin: 50% 145px;
  -o-animation: tour 3600s steps(60, end) infinite;
  -o-transform-origin: 50% 145px;
  animation: tour 3600s steps(60, end) infinite;
  transform-origin: 50% 145px;
}
#heure{
  left: 194px;
  top: 100px;
  height: 100px;
  border: 6px solid rgba( 10,50,128,0.8);
  -webkit-animation: tour 43200s linear infinite;
  -webkit-transform-origin: 50% 100px;
  -o-animation: tour 43200s linear infinite;
  -o-transform-origin: 50% 100px;
  animation: tour 43200s linear infinite;
  transform-origin: 50% 100px;
}
#centre{
  left: 194px;
  top: 194px;
  border: 6px solid rgba(255,255,255,0.6);
}
.rond, .sep{
  position: absolute;
  border-radius: 50%;
}
.sep{
  height: 10px;
  width: 10px;
  text-align: center;
  line-height: 10px;
  top: 195px;
  left: 195px;
  color: #3A5486;
}
.sep:after{
  content: '•';
}
#h0{
  -webkit-transform: translate(0px, -190px);
  -o-transform: translate(0px, -190px);
  transform: translate(0px, -190px);
}
#h1{
  -webkit-transform: rotate(30deg) translate(0px, -190px);
  -o-transform: rotate(30deg) translate(0px, -190px);
  transform: rotate(30deg) translate(0px, -190px);
}
#h2{
  -webkit-transform: rotate(60deg) translate(0px, -190px);
  -o-transform: rotate(60deg) translate(0px, -190px);
  transform: rotate(60deg) translate(0px, -190px);
}
#h3{
  -webkit-transform: rotate(90deg) translate(0px, -190px);
  -o-transform: rotate(90deg) translate(0px, -190px);
  transform: rotate(90deg) translate(0px, -190px);
}
#h4{
  -webkit-transform: rotate(120deg) translate(0px, -190px);
  -o-transform: rotate(120deg) translate(0px, -190px);
  transform: rotate(120deg) translate(0px, -190px);
}
#h5{
  -webkit-transform: rotate(150deg) translate(0px, -190px);
  -o-transform: rotate(150deg) translate(0px, -190px);
  transform: rotate(150deg) translate(0px, -190px);
}
#h6{
  -webkit-transform: rotate(180deg) translate(0px, -190px);
  -o-transform: rotate(180deg) translate(0px, -190px);
  transform: rotate(180deg) translate(0px, -190px);
}
#h7{
  -webkit-transform: rotate(210deg) translate(0px, -190px);
  -o-transform: rotate(210deg) translate(0px, -190px);
  transform: rotate(210deg) translate(0px, -190px);
}
#h8{
  -webkit-transform: rotate(240deg) translate(0px, -190px);
  -o-transform: rotate(240deg) translate(0px, -190px);
  transform: rotate(240deg) translate(0px, -190px);
}
#h9{
  -webkit-transform: rotate(270deg) translate(0px, -190px);
  -o-transform: rotate(270deg) translate(0px, -190px);
  transform: rotate(270deg) translate(0px, -190px);
}
#h10{
  -webkit-transform: rotate(300deg) translate(0px, -190px);
  -o-transform: rotate(300deg) translate(0px, -190px);
  transform: rotate(300deg) translate(0px, -190px);
}
#h11{
  -webkit-transform: rotate(330deg) translate(0px, -190px);
  -o-transform: rotate(330deg) translate(0px, -190px);
  transform: rotate(330deg) translate(0px, -190px);
}
#ecole {
  margin: auto;
 text-align: center;

  }

@-webkit-keyframes tour{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes tour{
  from{
    -o-transform: rotate(0deg);
  }
  to{
    -o-transform: rotate(360deg);
  }
}
@keyframes tour{
  from{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
